<div class="flex flex-row">
  <div class="basis-1/3">
    <p-datepicker 
      [(ngModel)]="timeOffDate" 
      [showIcon]="true" 
      inputId="buttondisplay"
      (onSelect)="addTimeOff()"
    />
  </div>
  <div class="basis-2/3">
    <p-table [value]="allTimeOff">
      <ng-template #header>
        <tr>
          <th>Name</th>
        </tr>
      </ng-template>
      <ng-template #body let-timeOff>
        <tr>
          <td>{{ timeOff.name }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<p-dialog 
  [header]="timeOffLabel" 
  [modal]="true" 
  [(visible)]="isTimeOffOpened" 
  [style]="{ width: '25rem' }"
  (onHide)="timeOffDate = null"
>
    opened
</p-dialog>
