<h3 class="text-lg font-semibold mb-4">Project</h3>
<div class="text-gray-400">
  <div class="mb-4">
    <div class="font-semibold mb-1">
      {{ projectProjection()?.name }}
    </div>
    <div class="text-sm flex">
      <div class="w-5/12 font-semibold">Start Date</div>
      <div class="w-7/12">{{ projectProjection()?.startDate | date:'EEEE, MMM d, y' }}</div>
    </div>
    <div class="text-sm flex">
      <div class="w-5/12">Target Date</div>
      <div class="w-7/12">{{ projectProjection()?.targetDate | date:'EEEE, MMM d, y' }}</div>
    </div>
    <div class="text-sm flex mb-1">
      <div class="w-5/12">Projected Date</div>
      <div class="w-7/12">{{ projectProjection()?.projectedDate | date:'EEEE, MMM d, y' }}</div>
    </div>
    <div class="text-sm flex">
      <div class="w-5/12 font-semibold">Project Estimate</div>
      <div class="w-7/12">{{ projectProjection()?.estimate }}</div>
    </div>
  </div>
</div>
@if (!!taskProjection()) {
<h3 class="text-lg font-semibold mb-4">Task</h3>
<div class="text-gray-400">
  <div class="mb-4">
    <div class="font-semibold mb-1">
      {{ taskProjection()?.name }}
    </div>
    <div class="text-sm flex mb-1">
      <div class="w-5/12 font-semibold">Start Date</div>
      <div class="w-7/12">{{ taskProjection()?.startDate | date:'EEEE, MMM d, y' }}</div>
    </div>
    <div class="text-sm flex">
      <div class="w-5/12">Target Date</div>
      <div class="w-7/12">{{ taskProjection()?.targetDate | date:'EEEE, MMM d, y' }}</div>
    </div>
    <div class="text-sm flex">
      <div class="w-5/12">Projected Date</div>
      <div class="w-7/12">{{ taskProjection()?.projectedDate | date:'EEEE, MMM d, y' }}</div>
    </div>
    @if (taskProjection()?.endDate) {
    <div class="text-sm flex">
      @switch(taskProjection()?.status) {
      @case('Completed') {
      <div class="w-5/12">Completed Date</div>
      }
      @case('Ended') {
      <div class="w-5/12">End Date</div>
      }
      }
      <div class="w-7/12">{{ taskProjection()?.endDate | date:'EEEE, MMM d, y' }}</div>
    </div>
    }
    <div class="text-sm flex my-1">
      <div class="w-5/12 font-semibold">Status</div>
      <div class="w-7/12">{{ taskProjection()?.status }}</div>
    </div>
    <div class="text-sm flex">
      <div class="w-5/12">Total Hours</div>
      <div class="w-7/12">{{ taskProjection()?.workedHours }}</div>
    </div>
    <div class="text-sm flex">
      <div class="w-5/12">Remaining Estimate</div>
      <div class="w-7/12">{{ taskProjection()?.remainingEstimate }}</div>
    </div>
    <div class="text-sm flex">
      <div class="w-5/12">Elapsed Hours</div>
      <div class="w-7/12">{{ taskProjection()?.elapsedHours }}</div>
    </div>
  </div>
</div>
<app-activity-lens />
} @else if (!!task()) {
<h3 class="text-lg font-semibold mb-4">Task</h3>
<p class="text-gray-400"><span class="font-semibold">Note:</span> This task is not currently eligible for projection. Please provide a name and estimate, and select an assignee before the projection can be calculated.</p>
} @else {
<app-activity-lens />
}