@let locked = form.get('locked')?.value;
@let name = form.get('name');
@let assignee = form.get('assignee');
@let estimate = form.get('estimate');
<form [formGroup]="form" 
  (ngSubmit)="onSubmit()">
  <div class="flex gap-6">
    <div class="grow">
      <div class="mb-1">
        <label class="font-thin" for="name">
            Task Name
        </label>
      </div>
      <div class="mb-1">
        <input 
          pInputText 
          id="name" 
          class="w-full"
          formControlName="name"
          [invalid]="name?.invalid && (name?.touched || name?.dirty)" 
        />
      </div>
      <div class="text-sm text-red-500 h-5 mb-1">
      @if (name?.errors?.['required'] && (name?.touched || name?.dirty)) {
        Task Name is required.
      }
      </div>
    </div>
    <div>
      <div class="mb-1">
        <label class="font-thin" for="locked">
            Mode
        </label>
      </div>
      <div class="mb-1">
        <p-selectbutton 
          [options]="modeOptions" 
          formControlName="locked" 
        />
      </div>
      <div class="text-sm text-red-500 h-5 mb-1"></div>
    </div>
  </div>
  <div class="flex gap-6">
    @if (locked) {
    <div class="w-1/4">
      <div class="mb-1">
        <label class="font-thin" for="startDate">
            Start Date
        </label>
      </div>
      <div class="mb-1">
        <p-datepicker 
          formControlName="startDate" 
          [showIcon]="true" 
          class="w-full"
        />
      </div>
      <div class="text-sm text-red-500 h-5 mb-1"></div>
    </div>
    }
    <div class="w-1/4">
      <div class="mb-1">
        <label class="font-thin" for="estimate">
            Estimate
        </label>
      </div>
      <div class="mb-1">
        <app-time-picker 
          formControlName="estimate"></app-time-picker>
      </div>
      <div class="text-sm text-red-500 h-5 mb-1">
      @if (estimate?.errors?.['nonZero'] && (estimate?.touched || estimate?.dirty)) {
        Estimate must be greater than 0.
      }
      </div>
    </div>
    <div [class]="locked ? 'w-1/2' : 'w-3/4'">
      <div class="mb-1">
        <label class="font-thin" for="assignee">
            Assignee
        </label>
      </div>
      <div class="mb-1">
        <p-select 
          formControlName="assignee" 
          class="w-full"
          [options]="users()" 
          placeholder="Select Assignee"
          [filter]="true" 
          filterBy="name"
          [showClear]="true"
          [invalid]="assignee?.invalid && (assignee?.touched || assignee?.dirty)">
        </p-select>
      </div>
      <div class="text-sm text-red-500 h-5 mb-1">
      @if (assignee?.errors?.['required'] && (assignee?.touched || assignee?.dirty)) {
        Assignee is required.
      }
      </div>
    </div>
  </div>
  <div>
    <div class="mb-1">
      <label class="font-thin" for="description">
          Description
      </label>
    </div>
    <div class="mb-1">
      <p-editor formControlName="description" [style]="{ height: '320px' }" />
    </div>
    <div class="text-sm text-red-500 h-5 mb-1"></div>
  </div>
  <div class="flex justify-end mb-4 gap-2">
    @if (form.dirty) {
    <p-button
      size="large"
      variant="outlined"
      label="Cancel" />
    }
    <button 
      pButton 
      type="submit" 
      size="large" 
      label="Save" 
      class="p-button-primary"
      [disabled]="form.invalid || form.pristine"
    ></button>
  </div>
</form>
